      @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "lato", sans-serif;
  background-color: rgb(24, 21, 10);
}
.main {
  background-image: url(5d31c27456b7887abc8ac1e2063b18e7.JPG);
  background-size: cover;
  width: 90%;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  display: flex;
  justify-content: right;
  align-items: center;
  height: 130vh;
  margin: 25px;
}

.image-container {
   width: 100%;
   display: flex;

}

img {
   border-radius: 12px;
   width: 450px;
}

p {
   font-size: 34px;
   color: antiquewhite;
   margin-left: 15px;
   font-family:trebuchet MS ;
   font-weight: bolder;
   text-shadow: 0px 6px 6px gray;
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  background-color: rgba(54, 54, 54, 0.76);
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgb(83, 83, 83);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
  color: aliceblue;
  font-family:trebuchet MS ;
  letter-spacing: 4px;
  text-align: center;
  text-shadow: 0px 10px 10px rgba(107, 105, 105, 0.651);
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}
.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: rgba(54, 54, 54, 0.623);
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #9867C5;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
}

.input:focus {
  border: 2px solid purple;
}

.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}
